@import '../../../styles/_variables.scss';

.main-container {
  width: 100vw;
  min-width: 600px;
}

.table {
  width: 100%;
  border-collapse: collapse;

  &__header {
    background: $color-mediumBlue;
    position: sticky;
    top: 0px;
  }

  &__row {
    font-size: 14px;
    margin: 20px;

    &:nth-child(2n) {
      background: $color-wisdomblue;
    }

    &:hover {
      background: $color-lavender;
    }

    & td {
      vertical-align: top;
      text-align: justify;
      white-space: pre;
      white-space: break-spaces;
      border-right: 1px solid$color-lightBlue;
    }
  }
}
