$color-mediumBlue: #b3cdf8;
$color-lavender: #e1ecfe;
$color-lightBlue: #e9f2ff;
$color-wisdomblue: #f3f8ff;

$color-white: #fff;

$color-ghost: rgba(0, 0, 0, 0.1);

$media-mobile-m: 375px;
$media-tablet-s: 425px;
$media-laptop: 1024px;
